ul {
  list-style: none;
  padding: 0 !important;
}
.wrap {
  background-color: purple;
}
.container-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}
.input-search {
  width: 50% !important;
  min-width: 220px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__img {
    height: 150px !important;
  }
  &__link {
    text-decoration: none;
    color: black;
    pointer-events: none;
  }
}
.list-statistics {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.statistic {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__p {
    font-weight: 700;
    font-size: 14px;
  }
  &__span {
    font-size: 14px;
  }
}
.card {
  width: 300px !important;
}
.api-gallery {
  padding: 20px;
}
